@model IEnumerable<TFSi.Clasificaciones>

@{
    ViewBag.Title = "Clasificaciones";
}

<h2>Clasificaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionClasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreaClasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificaClasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.descripcionUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1.descripcionUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionClasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreaClasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificaClasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.descripcionUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.descripcionUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idClasificacionPK }) |
            @Html.ActionLink("Details", "Details", new { id=item.idClasificacionPK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idClasificacionPK })
        </td>
    </tr>
}

</table>
