@model IEnumerable<TFSi.Financieras>

@{
    ViewBag.Title = "Financieras";
}

<h2>Financieras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionFinananciera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreaFinanciera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificaFinanciera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.descripcionUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1.descripcionUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionFinananciera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreaFinanciera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificaFinanciera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.descripcionUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.descripcionUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFinancieraPK }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFinancieraPK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFinancieraPK })
        </td>
    </tr>
}

</table>
