@model IEnumerable<TFSi.VentaPaquetes>

@{
    ViewBag.Title = "Venta Paquetes";
}

<h2>Venta Paquetes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroVentaPaquete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreaVentaPaquete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificaVentaPaquete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.descripcionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paquetes.descripcionPaquete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.descripcionUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1.descripcionUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroVentaPaquete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreaVentaPaquete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificaVentaPaquete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.descripcionCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paquetes.descripcionPaquete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.descripcionUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.descripcionUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVentaPaquetePK }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVentaPaquetePK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVentaPaquetePK })
        </td>
    </tr>
}

</table>
